@import 'theme.css';

* {
  box-sizing: border-box;
}

html {
  background: var( --body-background );
  color: var( --grey-dark );
  font: 1em/1.5 sans-serif;
  max-width: 60em;
  margin: auto;
  padding: 1em;
}

body {
  margin: 0;
}

ol, ul {
  padding: 0;
  list-style: none;
}

:-webkit-any-link {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal;
}

input {
  border: none;
  color: var( --grey-light );
  font: inherit;
  padding: .5em .75em;
}

.bold {
  font-weight: bold;
}

.nowrap {
  white-space: nowrap;
}

.blue {
  color: var( --blue );
}

@media (min-width: 40em){
  .row {
    display: flex;
    align-items: stretch;
  }

  .row.centered {
    align-items: center;
  }

  .row > * {
    flex: 1 1 0;
  }

  .row > .fit {
    flex-grow: 0;
  }

  .row > .repel {
    margin-left: auto;
  }
}

/* furniture */

.header {
  padding: 1em 0;
}

@media (min-width: 40em){
  .header > :not( :first-child ) {
    margin-left: 1em;
  }
}

.header-logo {
  height: 2.5em;
}

.breadcrumbs {
  font-size: 1.125em;
}

.content {
  background: white;
}

.inset {
  padding: 1em;
}

@media not all and (min-width: 45em){
  .nav {
    display: none;
  }
}

@media (min-width: 45em){
  .nav {
    flex: 0 0 25%;
  }
}

.nav a {
  display: block;
  padding: .25em 0;
}

.nav > ol > li > ol > li > ol {
  color: var( --blue );
  padding-left: 1em;
}


/* notice */

.notice {
  padding: 1em 1em 1em 7.5em;
  color: white;
  background: 3em 1.5em / 2em no-repeat;
}

.notice.positive {
  background-color: var( --green );
  background-image: url(images/check.png);
}

.notice.warning {
  background-color: var( --orange );
  background-image: url(images/warning.png);
}


/* hero */

.hero {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: '';
  display: block;
  float: left;
  width: 0;
  padding-bottom: 50%;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
}

.hero-content {
  position: relative;
  margin: 1.5em;
  padding: 1.5em 3em;
  background: rgba( 0, 0, 0, .8 );
  color: white;
  text-align: center;
}

.hero-content > * {
  margin: 0;
}

.hero-heading {
  font-size: 2em;
}

.hero-text {
  font-size: 1.125em;
}


/* progress */

.progress-bar {
  background: var( --grey-light );
  position: relative;
  margin: 0 0 1em;
}

.progress-bar .indicator {
  position: absolute;
  display: block;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100%;
}

.progress-bar .indicator.started {
  background-color: var( --orange );
}

.progress-bar .indicator.close {
  background-color: var( --yellow );
}

.progress-bar .indicator.complete {
  background-color: var( --green );
}

.progress-bar {
  white-space: nowrap;
}

.progress-bar .label {
  padding: 1em;
}

.progress-bar .underlay {
  color: var( --grey );
}

.progress-bar .overlay {
  color: white;
  position: absolute;
  z-index: 0;
}
