.card {
  @media (min-width: 40em){
    flex: 0 1 0;

    &:not(.first-child):not(.last-child) {
      margin: 0 1em;
    }
  }
}

.card-header {
  display: flex;

  &::before {
    content: '';
    display: block;
    float: left;
    padding-bottom: 75%;
  }
}
