.hero {
  display: flex;
  position: relative;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.hero::before {
  content: '';
  display: block;
  float: left;
  width: 0;
  padding-bottom: 50%;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  height: 100%;
}

.hero-content {
  position: relative;
  margin: 1.5em;
  padding: 1.5em 3em;
  background: rgba( 0, 0, 0, .8 );
  color: white;
  text-align: center;
}

.hero-content > * {
  margin: 0;
}

.hero-heading {
  font-size: 2em;
}

.hero-text {
  font-size: 1.125em;
}
